{block name="content"}
<div class="page js_show">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">提示信息</h2>
            <p class="weui-msg__desc">{$msg}</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="{:url('index/index')}" class="weui-btn weui-btn_default">返回招牌列表</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <!--<p class="weui-footer__links">-->
                    <!--<a href="javascript:void(0);" class="weui-footer__link">底部链接文本</a>-->
                <!--</p>-->
                <p class="weui-footer__text">小茄子聆听</p>
            </div>
        </div>
    </div>
</div>
{/block}